<section id="contacto" class="w-full py-12 border-t border-[#ffffff10]">
    <div class="max-w-5xl mx-auto">
        <h2 class="text-lg text-[var(--sec)] mb-2 shiny-sec">Hablemos</h2>
        <h3 class="text-4xl md:text-5xl font-medium text-[var(--white)] mb-6">Contacto</h3>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="text-[var(--white-icon)]">
                <p class="mb-4">
                    ¿Tienes una pregunta o un proyecto en mente? No dudes en ponerte en contacto.
                </p>
                <div class="flex items-center gap-2">
                    <span>Ubicación:</span>
                    <span class="text-[var(--white)]">Perú, Trujillo</span>
                </div>
                <div class="flex items-center gap-2">
                    <span>WhatsApp:</span>
                    <span class="text-[var(--white)]">+51 938788903</span>
                    <a href="https://wa.me/51938788903" target="_blank" rel="noopener noreferrer">
                        <img src="/svg/whatsapp.svg" alt="WhatsApp"
                             class="w-6 h-6 cursor-pointer hover:opacity-80 transition-opacity"/>
                    </a>
                </div>

                <div class="flex items-center gap-2">
                    <span>Facebook:</span>
                    <span class="text-[var(--white)]">Marcos Ruiz Tandaypan</span>
                    <a href="https://m.me/100090943815899?text=Hola%20Marcos%2C%20%C2%BFc%C3%B3mo%20est%C3%A1s%3F"
                       target="_blank" rel="noopener noreferrer">
                        <img src="/svg/facebook.svg" alt="Facebook"
                             class="w-6 h-6 cursor-pointer hover:opacity-80 transition-opacity"/>
                    </a>
                </div>
                <div class="flex items-center gap-2">
                    <span>Instagram:</span>
                    <span class="text-[var(--white)]">@marcos.ruiz_2002</span>
                    <a href="https://www.instagram.com/marcos.ruiz_2002/" target="_blank" rel="noopener noreferrer">
                        <img src="/svg/instagram1.svg" alt="Instagram"
                             class="icono-social w-6 h-6 cursor-pointer hover:opacity-80 transition-opacity"/>
                    </a>
                </div>
            </div>

            <div>
                <form id="formulario-contacto" action="https://formspree.io/f/xdkenkzj" method="POST"
                      class="flex flex-col gap-4">
                    <input
                            type="text"
                            name="from_name"
                            placeholder="Nombre"
                            required
                            class="px-4 py-2 bg-[#1414149c] text-[var(--white)] border border-[var(--white-icon-tr)] rounded-lg focus:outline-none focus:ring-2 focus:ring-[var(--sec)]"
                    />
                    <input
                            type="email"
                            name="reply_to"
                            placeholder="Correo electrónico"
                            required
                            class="px-4 py-2 bg-[#1414149c] text-[var(--white)] border border-[var(--white-icon-tr)] rounded-lg focus:outline-none focus:ring-2 focus:ring-[var(--sec)]"
                    />
                    <textarea
                            name="message"
                            placeholder="Mensaje"
                            rows="4"
                            required
                            class="px-4 py-2 bg-[#1414149c] text-[var(--white)] border border-[var(--white-icon-tr)] rounded-lg focus:outline-none focus:ring-2 focus:ring-[var(--sec)]"
                    ></textarea>
                    <button
                            type="submit"
                            class="px-4 py-2 bg-[var(--white-icon-tr)] text-[var(--white)] rounded-lg opacity-60 transition-opacity border border-[var(--white-icon-tr)] hover:opacity-100 hover:bg-[var(--white-icon-tr)]"
                    >
                        Enviar
                    </button>
                </form>
                <div id="mensaje-formulario"
                     class="hidden justify-center items-center mt-4 text-[var(--white)] text-lg">
                    ✅ ¡Gracias por tu mensaje!
                </div>
            </div>
        </div>
    </div>
</section>

<script type="module" is:inline>
    const formulario = document.getElementById('formulario-contacto');
    const mensajeFormulario = document.getElementById('mensaje-formulario');

    formulario.addEventListener('submit', async (e) => {
        e.preventDefault();
        const datosFormulario = new FormData(formulario);

        try {
            const respuesta = await fetch(formulario.action, {
                method: "POST",
                body: datosFormulario,
                headers: {"Accept": "application/json"}
            });
            if (respuesta.ok) {
                formulario.reset();
                formulario.style.display = 'none';
                mensajeFormulario.classList.remove('hidden');
            } else {
                const datos = await respuesta.json();
                console.error('Error en la respuesta:', datos);
                alert('Hubo un problema al enviar tu mensaje.');
            }
        } catch (error) {
            console.error('Error:', error);
            alert('Hubo un problema al enviar tu mensaje.');
        }
    });
</script>
